@font-face {
    font-family: smooke;
    src: url(../../font/Akronim-Regular.ttf);
}

@font-face {
    font-family: pizza;
    src: url(../../font/hotpizza.ttf);
}
@font-face {
    font-family: capo;
    src: url(../../font/coffee+teademo-Regular.ttf);
}
@font-face {
    font-family: hiling;
    src: url(../../font/Coffee\ Healing\ Regular.ttf);
}
@font-face {
    font-family: shop-coffee;
    src: url(../../font/Shop\ Coffee.otf);
}
@font-face {
    font-family: Com;
    src: url(../../font/Com_com-Regular.ttf);
}
@font-face {
    font-family: Distro;
    src: url(../../font/DISTRO__.ttf);
}
@font-face {
    font-family: Dream;
    src: url(../../font/dreamorphans-b.ttf);
}
@font-face {
    font-family: want;
    src: url(../../font/Want\ Coffee.ttf);
}

@font-face {
    font-family: blk;
    src: url(../../font/BLKCHCRY.TTF);
}