@font-face {
  font-family: smooke;
  src: url(../../font/Akronim-Regular.ttf);
}
@font-face {
  font-family: pizza;
  src: url(../../font/hotpizza.ttf);
}
@font-face {
  font-family: capo;
  src: url(../../font/coffee+teademo-Regular.ttf);
}
@font-face {
  font-family: hiling;
  src: url(../../font/Coffee\ Healing\ Regular.ttf);
}
@font-face {
  font-family: shop-coffee;
  src: url(../../font/Shop\ Coffee.otf);
}
@font-face {
  font-family: Com;
  src: url(../../font/Com_com-Regular.ttf);
}
@font-face {
  font-family: Distro;
  src: url(../../font/DISTRO__.ttf);
}
@font-face {
  font-family: Dream;
  src: url(../../font/dreamorphans-b.ttf);
}
@font-face {
  font-family: want;
  src: url(../../font/Want\ Coffee.ttf);
}
@font-face {
  font-family: blk;
  src: url(../../font/BLKCHCRY.TTF);
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0rem white;
    border: solid white 3px;
    color: white;
  }
  50% {
    border: none;
    color: black;
  }
  100% {
    box-shadow: 0px 0px 6.25rem;
  }
}
.animation-shadow {
  animation: shadow 2s 1s 1;
}

@keyframes scale {
  50% {
    transform: scale(0.8, 0.8);
    color: white;
  }
  100% {
    transform: scale(1, 1);
    color: black;
  }
}
.animation-scale {
  animation: scale 0.8s;
}

@keyframes animat-cool {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-95px);
  }
  40% {
    opacity: 1;
    transform: translateY(-95px);
  }
  80% {
    opacity: 1;
    transform: translateY(-95px);
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-230px);
  }
}
@keyframes scale-text {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotat-text {
  0% {
    transform: scale(0);
    opacity: 0;
    transform: rotate(1000deg);
  }
  10% {
    transform: scale(1);
    opacity: 1;
    transform: rotate(0deg);
  }
  90% {
    transform: scale(1);
    opacity: 1;
    transform: rotate(0deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
    transform: rotate(1000deg);
  }
}
@keyframes skew-text {
  0% {
    transform: translate(-100px, 10px);
  }
  5% {
    transform: translate(10px, 10px);
    opacity: 1;
  }
  90% {
    transform: translate(10px, 10px);
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translate(-100px, 10px);
  }
}
@keyframes scale-button {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
html {
  font-size: 100%;
  direction: ltr;
  text-align: left;
}
html body {
  display: flex;
  height: fit-content;
  position: relative;
  justify-content: center;
  background-color: #2f0e07;
  width: fit-content;
}
html body nav {
  position: absolute;
  width: 100%;
  height: 230vh;
  overflow: hidden;
  margin: 0px;
  display: none;
}
html body nav .folding-menu {
  width: 50%;
  height: 100%;
  background-color: #723d32;
  transform: translateX(-505px);
  transition: all 0.8s ease-out;
  margin: 0px;
  flex-direction: column;
  font-size: 40px;
  font-family: capo;
  padding: 0px;
}
html body nav .folding-menu ._1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
  padding: 10px;
  align-items: center;
}
html body nav .folding-menu ._1 img {
  height: 50%;
  margin-right: 10px;
}
html body nav .folding-menu ._2 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  align-items: center;
}
html body #container {
  display: flex;
  flex-direction: column;
  width: 92.7734375%;
  background-color: aliceblue;
  margin: 1.25rem 0rem;
  box-shadow: 1px 1px 80px black;
}
html body #container #header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 34.375rem;
  background-image: url(../../image/coffee-header-image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html body #container #header div.icons {
  display: flex;
  align-items: flex-start;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 2% 2% 0px 0px;
}
html body #container #header div.icons .hamberger {
  width: 6%;
  margin-left: 3%;
  margin-top: 3%;
}
html body #container #header div.icons div.box-title {
  flex-direction: row;
  height: fit-content;
  width: 37.5em;
  justify-content: space-evenly;
  font-family: Com;
  font-size: 1em;
  letter-spacing: 0.125rem;
  align-items: center;
}
html body #container #header div.icons div.box-title .title {
  cursor: pointer;
}
html body #container #header div.icons .box-button {
  width: 3.125em;
  height: 3.75em;
  display: flex;
  align-items: center;
}
html body #container #header div.icons .box-logo {
  width: fit-content;
}
html body #container #header div.icons .box-logo img {
  width: 70%;
}
html body #container #content {
  width: 100%;
  background-color: #f2e9e4;
}
html body #container #content .lorem-0 {
  width: 100%;
  height: 31.25em;
  background-color: #f2e9e4;
  display: flex;
  flex-direction: row;
}
html body #container #content .lorem-0 img {
  width: 100%;
  height: 80%;
}
html body #container #content .lorem-0 .text-box-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #container #content .lorem-0 .text-box-0 .wellcome-title {
  font-size: 3.125rem;
  margin-left: 1.25rem;
  font-family: capo;
  font-weight: bold;
}
html body #container #content .lorem-0 .text-box-0 .text-wellcome {
  font-size: 1.6875rem;
  font-family: hiling;
  line-height: 3.4375rem;
  white-space: break-spaces;
  margin-left: 0.9375em;
}
html body #container #content .img-slider-show {
  border: solid 10px #dca966;
}
html body #container #content .slid-show-0 {
  height: 16.5em;
}
html body #container #content .carousel-indicators {
  margin-bottom: -2%;
}
html body #container #content .lorem-1 {
  width: 100%;
  height: 31.25em;
  background-color: #f2e9e4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
html body #container #content .lorem-1 img.seed-coffee {
  width: 15.625em;
  margin-right: 1.25rem;
}
html body #container #content .lorem-1 div.text-box {
  width: 33.75em;
  height: fit-content;
  margin-left: 0.625rem;
}
html body #container #content .lorem-1 div.text-box h1.lorem1-title {
  font-size: 3.125rem;
  margin-left: 1.25rem;
  font-family: capo;
}
html body #container #content .lorem-1 div.text-box h1.lorem1-title img.cup-png {
  width: 1.25em;
}
html body #container #content .lorem-1 div.text-box p.lorem1-text {
  font-size: 1.6875rem;
  font-family: hiling;
  line-height: 3.4375rem;
  white-space: break-spaces;
  margin-left: 0.9375em;
}
html body #container #content .slider-cool {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37.5em;
  background: radial-gradient(rgb(252, 194, 118) 49%, #f2e9e4 70%);
}
html body #container #content .slider-cool div.box-move {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  background-color: #b59c7a;
  border-radius: 20px;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-1 {
  width: 19.375em;
  height: 15.625em;
  margin-left: 1.25em;
  text-shadow: 1px 1px white;
  animation: scale-text 25s 1s 1;
  opacity: 0;
  display: block;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-1 h1 {
  font-size: 2.5rem;
  font-family: shop-coffee;
  letter-spacing: 0.3125rem;
  text-shadow: 3px 3px 2px black;
  color: white;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-1 p {
  font-size: 1.5625rem;
  letter-spacing: 0.125rem;
  line-height: 2.1875rem;
  font-weight: bold;
  font-family: shop-coffee;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-2 {
  display: none;
  width: 19.375em;
  height: 16.875em;
  margin-left: 1.25em;
  text-shadow: 1px 1px white;
  animation: rotat-text 25s 1s 1;
  opacity: 0;
  display: none;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-2 h1 {
  font-size: 2.5rem;
  font-family: shop-coffee;
  letter-spacing: 0.3125rem;
  text-shadow: 3px 3px 2px black;
  color: white;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-2 p {
  font-size: 1.5625rem;
  letter-spacing: 0.125rem;
  line-height: 2.1875rem;
  font-weight: bold;
  font-family: shop-coffee;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-3 {
  display: none;
  width: 20em;
  height: 15.625em;
  margin-left: 1.25em;
  text-shadow: 1px 1px white;
  animation: skew-text 25s 1s 1;
  opacity: 0;
  display: none;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-3 h1 {
  font-size: 2.5rem;
  font-family: shop-coffee;
  letter-spacing: 0.3125rem;
  text-shadow: 3px 3px 2px black;
  color: white;
}
html body #container #content .slider-cool div.box-move .pack-text-animat-3 p {
  font-size: 1.5625rem;
  letter-spacing: 0.125rem;
  line-height: 2.1875rem;
  font-weight: bold;
  font-family: shop-coffee;
}
html body #container #content .slider-cool .pack-animat-1 {
  position: absolute;
  width: 18.75em;
  right: 9.0625em;
  top: 128.375em;
  display: block;
  opacity: 0;
}
html body #container #content .slider-cool .pack-animat-2 {
  position: absolute;
  width: 18.75em;
  right: 9.0625em;
  top: 128.375em;
  opacity: 0;
  display: none;
}
html body #container #content .slider-cool .pack-animat-3 {
  position: absolute;
  width: 18.75em;
  right: 9.0625em;
  top: 128.375em;
  opacity: 0;
  display: none;
}
html body #container #content .slider-cool .animat1-1 {
  animation: animat-cool 25s 1s 1;
}
html body #container #content .slider-cool .animat1-2 {
  animation: animat-cool 25s 1.5s 1;
}
html body #container #content .slider-cool .animat1-3 {
  animation: animat-cool 25s 2s 1;
}
html body #container #content .slider-cool .animat1-4 {
  animation: animat-cool 25s 2.5s 1;
}
html body #container #content .slider-cool .animat1-5 {
  animation: animat-cool 25s 3s 1;
}
html body #container #content .slider-cool .animat2-1 {
  animation: animat-cool 25s 1s 1;
}
html body #container #content .slider-cool .animat2-2 {
  animation: animat-cool 25s 1.5s 1;
}
html body #container #content .slider-cool .animat2-3 {
  animation: animat-cool 25s 2s 1;
}
html body #container #content .slider-cool .animat2-4 {
  animation: animat-cool 25s 2.5s 1;
}
html body #container #content .slider-cool .animat3-1 {
  animation: animat-cool 25s 1s 1;
}
html body #container #content .slider-cool .animat3-2 {
  animation: animat-cool 25s 1.5s 1;
}
html body #container #content .slider-cool .animat3-3 {
  animation: animat-cool 25s 2s 1;
}
html body #container #content .slider-cool .animat3-4 {
  animation: animat-cool 25s 2.5s 1;
}
html body #container #content section.some-products {
  padding-top: 10%;
  background-color: #f2e9e4;
}
html body #container #content section.some-products .type-coffee-tilte {
  margin: 0;
  font-family: cursive;
  display: flex;
  justify-content: center;
  padding-bottom: 7%;
}
html body #container #content section.some-products .type-coffee-content {
  width: 100%;
  height: 43.75em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.8%;
  font-family: capo;
}
html body #container #content section.some-products .type-coffee-content div {
  width: 45%;
  height: 45%;
  border-radius: 10px;
}
html body #container #content section.some-products .type-coffee-content .hot-chocolate {
  background-color: #181010;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.3s ease-out;
}
html body #container #content section.some-products .type-coffee-content .hot-chocolate .hot-chocolate-title {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  height: 10%;
}
html body #container #content section.some-products .type-coffee-content .hot-chocolate .hot-chocolate-title h3 {
  margin: 0;
  padding-top: 3%;
  margin-right: 5%;
  font-size: 300%;
}
html body #container #content section.some-products .type-coffee-content .hot-chocolate .hot-chocolate-title img {
  transform: translate(-30px, -40px);
  width: 140px;
  height: 140px;
}
html body #container #content section.some-products .type-coffee-content .hot-chocolate p {
  font-size: 145%;
  padding: 0px 5%;
}
html body #container #content section.some-products .type-coffee-content .hot-chocolate:hover {
  box-shadow: 0px 10px 12px 1px #0e0e0e;
  transform: translateY(-5px);
}
html body #container #content section.some-products .type-coffee-content .flat-white {
  background-color: #c39071;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.3s ease-out;
}
html body #container #content section.some-products .type-coffee-content .flat-white .flat-white-title {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  height: 10%;
}
html body #container #content section.some-products .type-coffee-content .flat-white .flat-white-title h3 {
  margin: 0;
  padding-top: 3%;
  margin-right: 5%;
  font-size: 300%;
}
html body #container #content section.some-products .type-coffee-content .flat-white .flat-white-title img {
  transform: translate(-30px, -40px);
  width: 140px;
  height: 140px;
}
html body #container #content section.some-products .type-coffee-content .flat-white p {
  font-size: 145%;
  padding: 0px 5%;
}
html body #container #content section.some-products .type-coffee-content .flat-white:hover {
  box-shadow: 0px 10px 12px 1px #0e0e0e;
  transform: translateY(-5px);
}
html body #container #content section.some-products .type-coffee-content .macchiato {
  background-color: #858383;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.3s ease-out;
}
html body #container #content section.some-products .type-coffee-content .macchiato .macchiato-title {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  height: 10%;
}
html body #container #content section.some-products .type-coffee-content .macchiato .macchiato-title h3 {
  margin: 0;
  padding-top: 3%;
  margin-right: 5%;
  font-size: 300%;
}
html body #container #content section.some-products .type-coffee-content .macchiato .macchiato-title img {
  transform: translate(-30px, -40px);
  width: 140px;
  height: 140px;
}
html body #container #content section.some-products .type-coffee-content .macchiato p {
  font-size: 145%;
  padding: 0px 5%;
}
html body #container #content section.some-products .type-coffee-content .macchiato:hover {
  box-shadow: 0px 10px 12px 1px #0e0e0e;
  transform: translateY(-5px);
}
html body #container #content section.some-products .type-coffee-content .Cappuccino {
  background-color: #fa8c38;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.3s ease-out;
}
html body #container #content section.some-products .type-coffee-content .Cappuccino .Cappuccino-title {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  height: 10%;
}
html body #container #content section.some-products .type-coffee-content .Cappuccino .Cappuccino-title h3 {
  margin: 0;
  padding-top: 3%;
  margin-right: 5%;
  font-size: 300%;
}
html body #container #content section.some-products .type-coffee-content .Cappuccino .Cappuccino-title img {
  transform: translate(-30px, -40px);
  width: 140px;
  height: 140px;
}
html body #container #content section.some-products .type-coffee-content .Cappuccino p {
  font-size: 145%;
  padding: 0px 5%;
}
html body #container #content section.some-products .type-coffee-content .Cappuccino:hover {
  box-shadow: 0px 10px 12px 1px #0e0e0e;
  transform: translateY(-5px);
}
html body #container #content .image-box-slider-show {
  width: 100%;
  height: 31.25em;
  background-color: #f2e9e4;
  display: flex;
  margin: 12.5rem 0px;
}
html body #container #content .image-box-slider-show .sliders {
  width: 934.219px;
  height: 100%;
  display: flex;
  align-items: center;
}
html body #container #content .image-box-slider-show .sliders .slider {
  width: 100%;
  height: 100%;
  background-size: cover;
}
html body #container #content .image-box-slider-show .sliders .slider .number-text {
  width: 4%;
  background: #ffc477;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  height: 8%;
  font-family: "hiling";
  opacity: 0.5;
}
html body #container #content .image-box-slider-show .sliders .active {
  display: flex !important;
}
html body #container #content .image-box-slider-show .sliders .slider-1 {
  background-image: url("../../image/slider-2/54758587.jpg");
  display: none;
}
html body #container #content .image-box-slider-show .sliders .slider-2 {
  background-image: url("../../image/slider-2/5765777.jpg");
  display: none;
}
html body #container #content .image-box-slider-show .sliders .slider-3 {
  background-image: url("../../image/slider-2/7148595.jpg");
  display: none;
}
html body #container #content .image-box-slider-show .sliders .box-big-button-slider {
  width: 934.219px;
  height: 3.125em;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
}
html body #container #content .image-box-slider-show .sliders .box-big-button-slider div {
  cursor: pointer;
}
html body #container #content .image-box-slider-show .sliders .box-big-button-slider div {
  width: 6%;
  height: 1.875em;
  display: flex;
  justify-content: center;
}
html body #container #content .image-box-slider-show .sliders .box-big-button-slider div img {
  opacity: 0.5;
  transition: all 0.3s ease-in;
}
html body #container #content .image-box-slider-show .sliders .box-big-button-slider div img:hover {
  opacity: 1;
}
html body #container #content .image-box-slider-show .sliders .box-big-button-slider div .img-animat {
  animation: scale-button 0.3s ease-in-out;
}
html body #container #content .image-box-slider-show .sliders .box-small-button-slider {
  width: 934.219px;
  height: 20px;
  position: absolute;
  display: flex;
  margin-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #container #content .image-box-slider-show .sliders .box-small-button-slider .activet {
  opacity: 1;
}
html body #container #content .image-box-slider-show .sliders .box-small-button-slider div {
  width: 2%;
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc477;
  border-radius: 20px;
  margin: 0px 5px;
  border: solid 2px #3e3d42;
  font-family: "hiling";
  display: flex;
  justify-content: center;
  opacity: 0.3;
  cursor: pointer;
}
html body #container #content .lorem-3 {
  width: 100%;
  height: 31.25em;
  display: flex;
  background-color: #44362f;
  margin: 200px 0px;
  box-shadow: 0px 0px 50px 10px #44362f;
}
html body #container #content .lorem-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
html body #container #content .lorem-3 div p {
  text-align: center;
}
html body #container #content .lorem-3 .div-1 {
  width: 50%;
  height: 100%;
  padding: 0.3125rem;
  color: white;
  font-size: 1.6875rem;
  font-family: hiling;
  line-height: 3.4375rem;
  white-space: break-spaces;
  margin-left: 0.9375em;
  text-shadow: 3px 3px 5px black;
}
html body #container #content .lorem-3 .div-2 {
  width: 50%;
  height: 100%;
}
html body #container #content .lorem-3 .div-2 img {
  width: 75%;
}
html body #container #content .videoGraphy {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
}
html body #container #content .videoGraphy .video-box {
  background-color: #ffffff;
  max-width: 95%;
  max-height: fit-content;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 8px 17px 0px;
}
html body #container #content .videoGraphy .video-box .poster {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
html body #container #content .videoGraphy .video-box .poster video {
  width: 100%;
  filter: brightness(0.7);
}
html body #container #content .videoGraphy .video-box .captions {
  width: 60%;
  display: flex;
  flex-direction: column;
}
html body #container #content .videoGraphy .video-box .captions .div-1 {
  width: 100%;
  height: 60%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 2.5rem;
}
html body #container #content .videoGraphy .video-box .captions .div-1 h1 {
  font-family: capo;
  font-size: 4.0625rem;
}
html body #container #content .videoGraphy .video-box .captions .div-1 div {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-evenly;
  align-items: baseline;
}
html body #container #content .videoGraphy .video-box .captions .div-1 div div {
  width: 10%;
  height: 3%;
  background-color: #441f16;
}
html body #container #content .videoGraphy .video-box .captions .div-1 div p {
  font-weight: bold;
  opacity: 0.6;
  width: 80%;
}
html body #container #content .videoGraphy .video-box .captions .div-2 {
  width: 100%;
  height: 40%;
  display: flex;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.desc {
  width: 50%;
  height: 100%;
  background-color: #441f16;
  color: white;
  padding: 28px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: capo;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.desc h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.desc div {
  width: 50%;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.desc div span {
  font-size: 0.9375rem;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.desc div img {
  width: 30%;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.play-video {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.play-video video {
  width: 100%;
  position: absolute;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.play-video div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #441f16;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.play-video div img {
  width: 50%;
  cursor: pointer;
}
html body #container #content .videoGraphy .video-box .captions .div-2 div.play-video div .button-pause-video {
  display: none;
}
html body #container #content .lorem-5 {
  width: 100%;
  height: 31.25em;
  margin: 12.5em 0px;
  box-shadow: 0px 0px 100px -33px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #76463b;
}
html body #container #content .lorem-5 img {
  width: 30%;
  height: 60%;
}
html body #container #content .lorem-5 div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
html body #container #content .lorem-5 div h1 {
  margin: 30px 0px;
  font-size: calc(2.375rem + 1.5vw);
  font-family: Com;
  color: white;
  text-shadow: 2px 1px 8px #000000;
}
html body #container #content .lorem-5 div p {
  color: black;
  font-size: 1.25rem;
  text-align: inherit;
  font-family: want;
  text-shadow: none;
  font-weight: bolder;
  letter-spacing: 2px;
  text-shadow: 2px 1px 8px #000000;
  color: #f3e6d6;
}
html body #container #content .lorem-5 div button {
  border: none;
  width: 22%;
  height: 7%;
  background-color: #f3e6d6;
  border-radius: 2px;
  font-family: cursive;
  font-weight: 400;
  box-shadow: 0px 0px 13px -6px;
  margin: 1.875rem 0px;
  transition: all 0.4s ease-out;
}
html body #container #content .lorem-5 div button:hover {
  background-color: #edc18b;
}
html body #container #content .comments-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
html body #container #content .comments-title h2 {
  margin: 0px;
  background-color: white;
  width: 20%;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  font-family: cursive;
  font-weight: bold;
  color: #787878;
}
html body #container #content .comments {
  width: 100%;
  height: 25em;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
html body #container #content .comments .folder-p {
  width: 30%;
  height: 90%;
  background: url("../../image/files-and-folders.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 82px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
html body #container #content .comments .folder-p .folder {
  width: 90%;
  height: 50%;
  overflow: hidden;
}
html body #container #content .comments .folder-p .folder .letter {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-family: blk;
  transform: translateY(150px);
  transition: all 0.3s ease-out;
}
html body #container #content .comments .folder-p .folder .letter img {
  width: 17%;
  border-radius: 46px;
  height: 26%;
  box-shadow: 0px 0px 4px 0px;
  margin-top: 0.625rem;
}
html body #container #content .comments .folder-p .folder .letter div {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
html body #container #content .comments .folder-p .folder .letter div h6 {
  font-size: 1.125rem;
}
html body #container #content .comments .folder-p:hover .letter {
  transform: translateY(0px);
}
html body #container #content .speack-founder {
  width: 100%;
  height: 31.25em;
  margin: 12.5em 0px;
  box-shadow: 0px 0px 100px -33px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #76463b;
}
html body #container #content .speack-founder div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
html body #container #content .speack-founder div img {
  width: 30%;
  height: 60%;
}
html body #container #content .speack-founder div div {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
html body #container #content .speack-founder div div h2 {
  margin: 30px 0px;
  font-size: calc(2.375rem + 1.5vw);
  font-family: Com;
  color: white;
  text-shadow: 2px 1px 8px #000000;
}
html body #container #content .speack-founder div div p {
  width: 100%;
  font-size: 1.25rem;
  text-align: inherit;
  font-family: want;
  text-shadow: none;
  font-weight: bolder;
  letter-spacing: 2px;
  text-shadow: 2px 1px 8px #000000;
  color: #f3e6d6;
  margin: 0px;
}
html body #container #content .speack-founder div div button {
  border: none;
  width: 22%;
  height: 7%;
  background-color: #f3e6d6;
  border-radius: 2px;
  font-family: cursive;
  font-weight: 400;
  box-shadow: 0px 0px 13px -6px;
  margin: 1.875rem 0px;
  transition: all 0.4s ease-out;
}
html body #container #content .speack-founder div div button:hover {
  background-color: #edc18b;
}
html body #container #footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#622f20, #1c0804);
}
html body #container #footer .s-footer-1 {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
html body #container #footer .s-footer-1 div {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding-left: 5%;
}
html body #container #footer .s-footer-1 div h4 {
  font-family: blk;
}
html body #container #footer .s-footer-1 div span {
  font-family: capo;
  color: wheat;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
html body #container #footer .s-footer-1 div span:hover {
  color: rgb(255, 255, 255);
}
html body #container #footer .s-footer-1 div button {
  border: none;
  width: 40%;
  height: 13%;
  background-color: #ffdeb5;
  border-radius: 2px;
  font-family: fantasy;
  font-weight: 400;
  box-shadow: 0px 0px 13px -6px;
  margin: 1.875rem 0px;
  transition: all 0.4s ease-out;
  color: black;
}
html body #container #footer .s-footer-1 div button:hover {
  background-color: #fbba69;
}
html body #container #footer hr {
  height: 0.5%;
  width: 95%;
  color: white;
  margin: 0px;
}
html body #container #footer .s-footer-2 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #container #footer .s-footer-2 a {
  height: 70%;
  display: flex;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #container #footer .s-footer-2 a img {
  height: 80%;
  width: 70%;
  margin: 0px 12px;
  filter: drop-shadow(2px 4px 5px black);
  transition: all 0.4s ease-out;
}
html body #container #footer .s-footer-2 a img:hover {
  filter: contrast(1);
}

@media (max-width: 320px) {
  div.box-title {
    display: none;
  }

  .hamberger {
    display: block;
  }

  .box-big-button-slider, .box-small-button-slider {
    width: 870.219px !important;
  }

  .button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75em;
    height: 2.625em;
    cursor: pointer;
    color: black;
    font-family: pizza;
    border-radius: 20px;
    border: none;
    background: radial-gradient(#ffffff 15%, #d79f55 70%);
    margin: 15px 0px 0px -30px;
    font-size: 18px;
  }
}
@media (min-width: 320px) {
  div.box-title {
    display: none;
  }

  .button-login {
    width: 4.375em;
    height: 3.125em;
  }

  .button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75em;
    height: 2.625em;
    cursor: pointer;
    color: black;
    font-family: pizza;
    border-radius: 20px;
    border: none;
    background: radial-gradient(#ffffff 15%, #d79f55 70%);
    margin: 15px 0px 0px -30px;
    font-size: 18px;
  }
}
@media (min-width: 375px) {
  div.box-title {
    display: none;
  }

  .hamberger {
    display: block;
  }
}
@media (min-width: 425px) {
  div.box-title {
    display: none;
  }

  .hamberger {
    display: block;
  }
}
@media (min-width: 768px) {
  div.box-title {
    display: flex;
  }

  .hamberger {
    display: none;
  }

  .button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75em;
    height: 2.625em;
    cursor: pointer;
    color: black;
    font-family: pizza;
    border-radius: 20px;
    border: none;
    background: radial-gradient(#ffffff 15%, #d79f55 70%);
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
